body {
  background-color: #36494e;
  color: #ffffff;
}

.header {
  padding: 2rem;
  text-align: center;
}

.output-container {
  background-color: #597081;
  padding: 2rem;
  border-radius: 20px;
}
